.highlight .c {
  color: #999;
} /* Comment */
.highlight .cm {
  color: #09f;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #099;
} /* Comment.Preproc */
.highlight .c1 {
  color: #999;
} /* Comment.Single */
.highlight .cs {
  color: #999;
} /* Comment.Special */
