@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html, body, section, a, span, div, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}

body {
  font:.8em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 2.4em;
  color: #ccc;
  margin: 0 0 1.5%;
}

section.description { width: 100%; }
section.description div { width: 100%; }

span.mazes {
  background: #000;
  padding: .5% 1%;
}


.firstname { color: #000; }
.lastname { color: #ccc; }
.dot { color: #000; font-family: georgia, serif; }


h2 {
  color:#a60000;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#fff;
  text-decoration:none;
}

a:hover {
  color:  #39c;
}

.wrapper {
  width:auto;
  margin: .3% auto;
  padding: 0 2%;
}

.me {
  font-size: 2.2em;
  margin:2% 0 5%;
}

.me h1 { line-height:122%;}

@media print, screen and (max-width: 480px) {
  body {
    padding:1.5%;
    font-size: .4em;
  }
  
  h1, h2, h3 { line-height:250%; }

  section.description div {
    font-size: 1em;
    padding: 2%;
  }
}
