@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


html { background: #ffe773; }

body {
  padding:1px;
  font:.8em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 2.4em;
  color: #888;
  margin:0 0 3%;
}

h1, h2, h3 { line-height:150%; }
section.description { width: 100%; }
section.description div { width: 100%; }

span.mazes {
  background: #000;
  padding: .5% 1%;
}


.firstname { color: #000; }
.lastname { color: #ccc; }
.dot { color: #000; font-family: georgia; }

.my-name {
  font-size: 5em;
}

h2 {
  color:#a60000;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#fff; /*39c*/
  font-weight:bold;
  text-decoration:none;
}

.wrapper {
  width:auto;
  margin:1% auto;
  padding: 2%;
}

.me {
  font-size: 2.2em;
  margin-bottom: 5%;
}

@media print, screen and (max-width: 480px) {
  body {
    padding:1.5%;
    font-size: .4em;
  }
  
  h1, h2, h3 { line-height:250%; }

  section.description div {
    font-size: 1em;
    padding: 2%;
  }
}
