@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
html, body, section, a, span, div, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}

body {
  font:.8em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  margin: 3% 2% .5%;
}

span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 2.4em;
  color: rgba(29, 162, 114, 0.75);
}

section.description { width: 100%; }
section.description div { width: 100%; }

span.mazes {
  background: rgba(70, 130, 180, 0.39);
  padding: .5% 1%;
  font-weight: 100;
}

.firstname { color: #000; font-weight: 200;}
.lastname { color: #ccc; font-weight: 100;}
.dot { color: deeppink; font-family: georgia, serif; }


h2 {
  color:#a60000;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#fff;
  text-decoration:none;
}

a:hover {
  color: #6707A7;
}

.wrapper {
  width:auto;
  margin: .3% auto;
  padding: 0 2%;
}

.me {
  font-size: 2.2em;
  margin: 2% 0 3%;
}

.me h1 { line-height:122%;}

@media print, screen and (max-width: 480px) {
  body {
    padding:1.5%;
    font-size: .4em;
  }
  
  h1, h2, h3 { line-height:250%; }

  section.description div {
    font-size: 1em;
    padding: 2%;
  }
}
